### Import Pandas for data scraping and data frame processing

In [1]:
import pandas as pd

In [2]:
WIKI_URL = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

### Scrape and convert wikipedia table into pandas data frame with first row as column headers

In [7]:
dfs = pd.read_html(WIKI_URL, header=0) # set header with row #0
dfs[0].head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [8]:
df = dfs[0] #Set the first table as the data frame
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Drop rows with Borough and Neighborhood values Not assigned

In [17]:
df = df[df.Borough != 'Not assigned']
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [30]:
rows = df.shape[0]
print(f"There are {rows} rows in my data frame.")

There are 103 rows in my data frame.